# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment files (if you have sensitive env variables)
.env

# Build files
dist/
build/

# Package lock files (optional)
package-lock.json
yarn.lock

# IDE-specific files
.vscode/
.idea/
