* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

.browser {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main .header-wrapper {
  width: 100%;
  height: 30%;
}
.main .header-wrapper h1 {
  font-weight: lighter;
  font-size: clamp(50px, 8vw, 90px);
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main .header-wrapper h3 {
  font-weight: lighter;
  font-size: clamp(24px, 4vw, 32px);
  text-align: center;
  height: 30%;
}
.main .url-wrapper {
  position: relative;
  width: 100%;
  height: 15%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .url-wrapper .inner-url-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 50%;
}
.main .url-wrapper input {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 5px 0px 5px 40px;
  font-size: 16px;
}
.main .url-wrapper button {
  position: absolute;
  top: 18px;
  left: 7px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.main .url-wrapper button i {
  font-size: 24px;
}
.main .social-links {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .social-links .social-wrapper {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .social-links .social-wrapper a {
  font-size: 34px;
  color: black;
}
.main .misc {
  height: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .misc > div {
  width: 20%;
  height: 90%;
  border: 2px solid black;
  border-radius: 10px;
}
.main .misc .radio {
  display: flex;
  flex-direction: column;
}
.main .misc .radio-card {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 70%;
  text-align: center;
}
.main .misc .radio-card .radio-header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
}
.main .misc .radio-card .radio-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .misc .radio-card .radio-song {
  font-size: 14px;
  margin-right: 10px;
  font-weight: bold;
}
.main .misc .radio-card .radio-play-pause {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  font-size: 18px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .misc .radio-card .radio-play-pause:hover {
  background-color: #f1f1f1;
  color: #1976d2;
}
.main .misc .radio-controls {
  height: 30%;
  display: flex;
  flex-direction: column;
}
.main .misc .radio-controls input {
  height: 30%;
  color: black;
}
.main .misc .radio-controls .radio-controls-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70%;
}
.main .misc .radio-controls .radio-controls-wrapper i {
  font-size: 30px;
}
.main .misc .news-card {
  display: flex;
  flex-direction: column;
  background-color: #ff5722;
  border-radius: 10px;
  padding: 10px;
  color: black;
  font-family: Arial, sans-serif;
  text-align: left;
  background-color: white;
}
.main .misc .news-header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  height: 15%;
}
.main .misc .news-info {
  padding: 10px;
  height: 85%;
  width: 100%;
}
.main .misc .news-title {
  font-size: 16px;
  margin: 0 0 10px 0;
  font-weight: bold;
  position: relative;
}
.main .misc .news-desc {
  font-size: 14px;
  margin-bottom: 10px;
}
.main .misc .read-more {
  font-size: 14px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.main .misc .read-more:hover {
  color: #ffc107;
}
.main .misc .weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px;
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
}
.main .misc .weather-card .weather-wrapper {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;
}
.main .misc .weather-card .weather-wrapper input {
  width: 85%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
}
.main .misc .weather-card .weather-wrapper button {
  width: 10%;
  height: 100%;
  font-size: 20px;
  border: none;
  background-color: transparent;
}
.main .misc .weather-card .weather-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
  width: 100%;
  height: 30%;
}
.main .misc .weather-card .weather-info .weather-temp {
  font-size: 30px;
  margin-right: 5px;
}
.main .misc .weather-card .weather-info .weather-icon {
  width: 50px;
  height: 50px;
}
.main .misc .weather-card .weather-desc {
  font-size: 14px;
  color: black;
  width: 100%;
  height: 50%;
  text-align: center;
}

#webview {
  width: 100%;
  height: 100vh;
}/*# sourceMappingURL=main.css.map */